<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyap.mapper.GatewayBoxMapper">
  <resultMap id="BaseResultMap" type="com.lyap.entity.GatewayBox">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gatewaybox_id" jdbcType="VARCHAR" property="gatewayboxId" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="hardware_version" jdbcType="VARCHAR" property="hardwareVersion" />
    <result column="software_version" jdbcType="VARCHAR" property="softwareVersion" />
    <result column="related_lock_id" jdbcType="VARCHAR" property="relatedLockId" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_mod_time" jdbcType="TIMESTAMP" property="lastModTime" />
    <result column="mod_user_id" jdbcType="VARCHAR" property="modUserId" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gatewaybox_id, product_code, hardware_version, software_version, related_lock_id, 
    status, create_time, last_mod_time, mod_user_id, remarks
  </sql>
  <select id="selectByExample" parameterType="com.lyap.entity.GatewayBoxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gatewaybox
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByGatewayBoxId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from gatewaybox
    where gatewaybox_id = #{gatewaybox_id, jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gatewaybox
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gatewaybox
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lyap.entity.GatewayBoxExample">
    delete from gatewaybox
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lyap.entity.GatewayBox">
    insert into gatewaybox (id, gatewaybox_id, product_code, 
      hardware_version, software_version, related_lock_id, 
      status, create_time, last_mod_time, 
      mod_user_id, remarks)
    values (#{id,jdbcType=INTEGER}, #{gatewayboxId,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, 
      #{hardwareVersion,jdbcType=VARCHAR}, #{softwareVersion,jdbcType=VARCHAR}, #{relatedLockId,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{lastModTime,jdbcType=TIMESTAMP}, 
      #{modUserId,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lyap.entity.GatewayBox">
    insert into gatewaybox
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gatewayboxId != null">
        gatewaybox_id,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="hardwareVersion != null">
        hardware_version,
      </if>
      <if test="softwareVersion != null">
        software_version,
      </if>
      <if test="relatedLockId != null">
        related_lock_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModTime != null">
        last_mod_time,
      </if>
      <if test="modUserId != null">
        mod_user_id,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gatewayboxId != null">
        #{gatewayboxId,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="hardwareVersion != null">
        #{hardwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="softwareVersion != null">
        #{softwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="relatedLockId != null">
        #{relatedLockId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModTime != null">
        #{lastModTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modUserId != null">
        #{modUserId,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lyap.entity.GatewayBoxExample" resultType="java.lang.Long">
    select count(*) from gatewaybox
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gatewaybox
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.gatewayboxId != null">
        gatewaybox_id = #{record.gatewayboxId,jdbcType=VARCHAR},
      </if>
      <if test="record.productCode != null">
        product_code = #{record.productCode,jdbcType=VARCHAR},
      </if>
      <if test="record.hardwareVersion != null">
        hardware_version = #{record.hardwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.softwareVersion != null">
        software_version = #{record.softwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.relatedLockId != null">
        related_lock_id = #{record.relatedLockId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastModTime != null">
        last_mod_time = #{record.lastModTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modUserId != null">
        mod_user_id = #{record.modUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gatewaybox
    set id = #{record.id,jdbcType=INTEGER},
      gatewaybox_id = #{record.gatewayboxId,jdbcType=VARCHAR},
      product_code = #{record.productCode,jdbcType=VARCHAR},
      hardware_version = #{record.hardwareVersion,jdbcType=VARCHAR},
      software_version = #{record.softwareVersion,jdbcType=VARCHAR},
      related_lock_id = #{record.relatedLockId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_mod_time = #{record.lastModTime,jdbcType=TIMESTAMP},
      mod_user_id = #{record.modUserId,jdbcType=VARCHAR},
      remarks = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lyap.entity.GatewayBox">
    update gatewaybox
    <set>
      <if test="gatewayboxId != null">
        gatewaybox_id = #{gatewayboxId,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null">
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="hardwareVersion != null">
        hardware_version = #{hardwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="softwareVersion != null">
        software_version = #{softwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="relatedLockId != null">
        related_lock_id = #{relatedLockId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModTime != null">
        last_mod_time = #{lastModTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modUserId != null">
        mod_user_id = #{modUserId,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lyap.entity.GatewayBox">
    update gatewaybox
    set gatewaybox_id = #{gatewayboxId,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      hardware_version = #{hardwareVersion,jdbcType=VARCHAR},
      software_version = #{softwareVersion,jdbcType=VARCHAR},
      related_lock_id = #{relatedLockId,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_mod_time = #{lastModTime,jdbcType=TIMESTAMP},
      mod_user_id = #{modUserId,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>