<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyap.mapper.NewIOMapper">

    <resultMap id="baseResultMap" type="NewIO">
        <id property="id" column="id"/>
        <result property="deviceId" column="device_id"/>
        <result property="power" column="power"/>
    </resultMap>


    <select id="findAll" resultMap="baseResultMap">
        select * from `test`
    </select>

    <insert id="insert" parameterType="NewIO">
        insert into `test` (`device_id`, `power`) values (#{deviceId}, #{power})
    </insert>


</mapper>